<div class="scratchpad-wrap{{#unless execFile}} no-output{{/unless}}">
    <!-- Canvases (Drawing + Output) -->
    <div class="scratchpad-canvas-wrap">
        <div id="output">
            <!-- Extra data-src attribute to work around
                 cross-origin access policies. -->
            {{#if execFile}}
                <iframe id="output-frame"
                    src="{{execFile}}"
                    data-src="{{execFile}}"></iframe>
            {{/if}}
            <canvas class="scratchpad-draw-canvas" style="display:none;"
                width="400" height="400"></canvas>

            <div class="overlay disable-overlay" style="display:none;">
            </div>

            <div class="scratchpad-canvas-loading">
                <img src="{{imagesDir}}/spinner-large.gif">
                <span class="hide-text">{{#_}}Loading...{{/_}}</span>
            </div>
        </div>
    </div>

    <!-- Editor -->
    <div class="scratchpad-editor-wrap overlay-container">
        <div class="scratchpad-editor-tabs">
          <div id="scratchpad-code-editor-tab" class="scratchpad-editor-tab">
            <div class="scratchpad-editor scratchpad-ace-editor"></div>
            <div class="overlay disable-overlay" style="display:none;">
            </div>

            <div class="scratchpad-editor-bigplay-loading" style="display:none;">
                <img src="{{imagesDir}}/spinner-large.gif">
                <span class="hide-text">{{#_}}Loading...{{/_}}</span>
            </div>

            <!-- This cannot be removed, if we want Flash to keep working! -->
            <div id="sm2-container">
                {{#_}}Enable Flash to load audio:{{/_}}
                <br>
            </div>

            <button class="scratchpad-editor-bigplay-button" style="display:none;">
                <span class="icon-play"></span>
                <span class="hide-text">{{#_}}Play{{/_}}</span>
            </button>
          </div>
          <div class="scratchpad-toolbar editor-toolbar">
            <span class="vam vam-trick"></span>
                <span class="error-buddy-resting vam">
                    <span class="error-buddy-happy vam" style="display:none;">
                        <img class="vam" src="{{imagesDir}}/creatures/OhNoes-Happy.png"/>
                    </span>
                    <a class="error-buddy-thinking vam" style="display:none;" href="javascript:void()">
                        <img src="{{imagesDir}}/creatures/OhNoes-Hmm.png"/>
                        {{! I18N: The CS error buddy is thinking there might be an error in your code and is waiting for you to fix it !}}
                        <span class="error-buddy-hmm">{{#_}}Hmm...{{/_}}</span>
                    </a>
                </span>
                <span style="float:right">
                <span class="vam vam-trick" style="height:47px"></span>
                    <a id="restart-code" href="javascript:void(0)"
                        class="simple-button">
                        <span class="icon-refresh"><svg class="restartIcon" focusable="false" width="1.000020000400008em" height="1em" viewBox="0 0 100 99.998"><path fill="currentColor" d="M50.046 83.391q8.778 0 16.302-4.218t12.084-11.685q.741-1.083 3.477-7.638.513-1.482 1.938-1.482l12.483 0q.855.057 1.482.627t.627 1.14-.057.741q-4.104 17.499-17.442 28.329t-31.179 10.83q-9.519 0-18.411-3.591t-15.846-10.203l-8.379 8.379q-1.254 1.254-2.964 1.254-1.653 0-2.907-1.254t-1.254-2.907l0-29.184q0-1.71 1.254-2.964t2.907-1.197l29.184 0q1.71 0 2.964 1.254 1.197 1.197 1.197 2.907t-1.197 2.907l-8.949 8.949q9.747 9.006 22.686 9.006zm49.989-75.069l0 29.184q.057 1.71-1.197 2.964t-2.964 1.197l-29.184 0q-1.71 0-2.964-1.254t-1.197-2.907q0-1.71 1.254-2.907l9.006-9.006q-9.633-8.949-22.743-8.949-8.721.057-16.302 4.275t-12.141 11.628q-.741 1.083-3.42 7.638-.513 1.482-1.938 1.482l-12.996 0q-.855 0-1.482-.627t-.57-1.425l0-.456q4.218-17.442 17.556-28.272t31.293-10.887q9.462 0 18.468 3.591t15.96 10.203l8.493-8.379q1.197-1.254 2.907-1.254t2.964 1.254 1.197 2.907z"></path></svg></span>
                        {{#_}}Restart{{/_}}</a>
                </span>

                <!-- Widgets for selecting colors to doodle on the canvas during
                    recordings -->
                <div id="draw-widgets" style="display:none;">
                    <a href="" id="draw-clear-button" class="ui-button">
                        <span class="ui-icon-cancel"></span>
                    </a>
                    {{#each colors}}
                    <a href="" class="draw-color-button" id="{{this}}">
                        <span></span>
                    </a>
                    {{/each}}
                </div>

                <!-- Record button -->
                <button id="record" class="simple-button pull-left" style="display:none;">{{#_}}Record{{/_}}</button>
            </div>
        </div>

        <div class="scratchpad-toolbar">
            <!-- Row for playback controls -->
            <div class="scratchpad-playbar" style="display:none;">
                <div class="scratchpad-playbar-area" style="display:none;">
                    <button
                        class="simple-button primary scratchpad-playbar-play"
                        type="button">
                        <span class="icon-play"></span>
                    </button>

                    <div class="scratchpad-playbar-progress"></div>

                    <span class="scratchpad-playbar-timeleft"></span>
                </div>
                <div class="loading-msg">
                    {{#_}}Loading audio...{{/_}}
                </div>
            </div>
            <div class="scratchpad-debugger"></div>
        </div>

        <div class="scratchpad-toolbar scratchpad-dev-record-row" style="display:none;"></div>
    </div>
</div>